.dropdown {
  position: relative;
  margin-top: 2px;
  margin-left: 5px;
}

.menu {
  position: absolute;

  list-style-type: none;
  margin: 5px 0;
  padding: 0;

  width: 150px;
}

.menu > li {
  margin: 0;
  background-color: white;
  color: black;
}

.menu > li:hover {
  background-color: darkblue;
  color: white;
}

.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: left;

  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}
.logo {
  height: 65px;
  width: 50px;
}
