.footer {
  display: flex;
  flex-direction: row;
  background-color: #d0f0c0;
  justify-content: center;
  margin-top: auto;
  text-align: center;
  height: 52px;
  gap: 15px;
}
.footer-title {
  color: green;
  font-size: medium;
  font-family: Montserrat;
}
.title {
  color: green;
  font-family: Montserrat;
  font-size: medium;
}
@media only screen and (max-width: 500px) {
  .footer {
    flex-direction: column;
    height: 55px;
    margin-top: 15px;
  }
  .footer-title {
    margin-top: -50px;
    padding: 5px;
  }
  .title {
    text-align: center;
    margin-top: 30px;
  }
}
